<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="logo">
                <a href="index.html">
                    <img src="/assets/icons/logo.svg" alt="logo">
                </a>
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__list-item">
                        <a href="#hero">
                            Ноme
                        </a>
                    </li>
                    <li class="header__list-item">
                        <a href="#about">
                            About us
                        </a>
                    </li>
                    <li class="header__list-item">
                        <a href="#contacts">
                            Contacts
                        </a>
                    </li>
                </ul>
            </nav>
            <button class="button">
                Go to official website
            </button>
        </div>
    </div>
</header>