.header {
    border-bottom: 1px solid #F0F1EF;
    background: #FDFEFC;
    top: 0;
    right: 0;
    z-index: 3;
    position: fixed;
    width: 100%;
}

.header__inner {
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    gap: 0 35px;
    display: flex;
}

.header__list-item a {
    font-size: 14px;
}


.header__right {
    gap: 20px;
    display: flex;
    align-items: center;
}

@media(max-width: 690px) {
    .header {
        border-bottom: none;
    }

    .header__inner {
        gap: 20px;
        padding: 40px 0;
        justify-content: center;
    }

    .header__nav,
    .header .button {
        display: none;
    }
}