.what__is {
    overflow: hidden;
    padding-top: 50px;
    border-bottom: 1px solid #F0F1EF;
}

.what__is-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.what__is-top {
    max-width: 543px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what__is-bottom {
    margin-top: -40%;
}

@media(max-width: 890px) {
    .what__is-bottom {
        max-width: 209%;
        margin-top: -21%;
    }

    .what__is-bottom img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media(max-width: 690px) {
    .what__is {
        padding-top: 30px;
    }

    .what__is .container {
        padding: 0;
    }

    .what__is-top {
        padding: 0 10px;
        width: 100%;
    }

    .what__is-bottom {
        max-width: 100%;
        margin-top: -25%;
        height: 532px;
    }
}

@media(max-width: 490px) {
    .what__is-bottom {
        height: 408px;
        margin-top: -39%;
    }
}